body {
    font-family: "MS 明朝", "游明朝", serif;
    background-color: #fdf6e3;
    color: #5c3a21;
    margin: 0;
    padding: 0;
    filter: contrast(120%)

}


header {
    background-color: #e8d6b9;
    text-align: center;
    padding: 20px 0;
    padding-top: 35px;
    border-bottom: 2px solid #5c3a21;
    line-height: 0.8;
}

.header{
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    display: flex;
}

nav {
    width: 200px;
    background-color: #f4e7d0;
    padding: 20px;
    border-right: 2px solid #5c3a21;
    min-height: calc(100vh - 82px); /* header含む */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: #5c3a21;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

.map-section img {
    max-width: 100%;
    border: 2px solid #5c3a21;
}

.station-info {
    margin-top: 20px;
    padding: 25px;
    background-color: #fff8e1;
    border: 1px solid #5c3a21;
}

footer {
    background-color: #e8d6b9;
    color: #5c3a21;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #5c3a21;
    font-size: 0.9em;
    margin-top: 20px;
}
.news-title {
    border: 1.5px solid #5c3a21;
    border-radius: 3.5px;
    padding: 5px;
    color: #5c3a21;
    margin: 5px;
    font-family: "MS 明朝", "游明朝", serif;
}

.news-title:hover {
    background-color: #f4e7d0;
    cursor: pointer;
}

.atag{
    text-decoration: none;
}

.atag:hover{
    text-decoration: underline;
}

.train-info {
    background-color: #fff8e1;
    border: 1px solid #5c3a21;
    padding: 15px;
}

.station-info2 {
    margin-top: 20px;
    padding: 25px;
    background-color: #fff8e1;
    border: 1px solid #5c3a21;
}

.mottomiru{
    text-decoration: none;
    color: #5c3a21;
}

.mottomiru:hover{
    text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

thead {
  background-color: #0047ab;
  color: white;
}

.note {
  font-size: 0.9rem;
  color: #666;
}

/* スマホ対応 */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 0.5rem;
    font-weight: bold;
    text-align: left;
  }
}

.jikan{
    background-color: #fff;
    color: #000;
}